{% extends 'layout.html.twig' %}
{% block navbar %}
    <link rel="stylesheet" href="/assets/css/carousel.css">
    {% include 'Components/navbar.html.twig' %}
{% endblock %}
{% block stylesheet %}
<style>
.navbar{
  background-color: #23465A;
}

</style>
{% endblock %}


{% block content %}
    <h1>Bonjour {{user.nom}}.</h1>
    <p> Ravi de vous voir !</p>

{# ------------------------------------------------------------------------------------------------------------------------ #}
           
<div class="container">
<div class="row gutters">
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings">
					<div class="user-profile">
						<div class="user-avatar">
							<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                            </p> Changer votre avatar </p>
						</div>
						<h4 class="user-name">{{user.nom}}</h4>
						<h5 class="user-email">Inscrit depuis le ...</h5>
					</div>
					<div class="about">
						<h6 class="mb-2 text-primary">
                            Vous avez {{ nbPlaylists.somme }} playlist(s).
                        </h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-3 text-primary">Vos informations</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="nom">Nom</label>
							<input type="text" class="form-control" id="fullName" placeholder="<nom récupéré de la BDD>">
						</div>
                        <div class="form-group">
							<label for="prenom">Prénom</label>
							<input type="text" class="form-control" id="fullName" placeholder="<prenom récupéré de la BDD<">
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="eMail">Email</label>
							<input type="email" class="form-control" id="eMail" placeholder="<Email récupéré de la BDD>">
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="text-right">
							<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
							<button type="button" id="submit" name="submit" class="btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col-12 col-sm-3 offset-1" id="B2">
        <button type="button" class="btn btn-primary modify-account" style:"margin : 2% 0;">Modifier compte</button>    
    </div>
    <div class="row h-25" id="bottom-body">
        <div class="col-11" id="A" style="margin-left : 2%">
            <a href="/myPlaylist/create" class="btn btn-info" role="button">Créer playlist</a> 
        </div>
    {# div réservée pour le mediaplayer - A NE PAS SUPPRIMER #}
{# <div class="col-12" id="B"> #}
</div>
</div>


{# ------------------------------------------------------------------------------------------------------------------------ #}


        {% if playlistsTwig %}
           
           {# Si il y a des données dans le tableau playlistTwig
           la condition est remplie et une boucle traversant
           le tableau permet d'afficher les images des playlists
           dans la div carousel #}

            <div class="carousel">
                <div class="carousel-row">
            {% for playlist in playlistsTwig %}
                    <a class="carousel-tile" href="/myPlaylist/show/?id={{ playlist.id }}" style="background : url(/{{ playlist.image }}); background-size: cover;">
                    </a>
            {% endfor %}
                </div>
            </div>
            <div class="col-12" id="B">

      </div>
    </div>
        {% else %}

        <p style='color : white;'> Aucune playlist existante </p>
        {% endif %}

{# ------------------------------------------------------------------------------------------------------------------------ #}


</div>

    {% include 'Components/mediaplayer.html.twig'%}



{# ------------------------------------------------------------------------------------------------------------------------ #}

{% endblock %}




