{% extends 'layout.html.twig' %}
{% block navbar %}
    <link rel="stylesheet" href="/assets/css/carousel.css">
    {% include 'Components/navbar.html.twig' %}
{% endblock %}
{% block stylesheet %}
<style>
.navbar{
  background-color: #23465A;
}

</style>
{% endblock %}


{% block content %}
<div class="accueil">
    <h1>Bonjour <b>{{user.nom}}</b>.</h1>
    <p> Ravi de vous voir !</p>
</div>

{# ------------------------------------------------------------------------------------------------------------------------ #}
           
<div class="container">
<div class="row gutters">
	<div class="col-xl-3 offset-xl-3 col-lg-3 offset-lg-3 col-md-12 col-sm-12 col-12 ">
		<div class="card h-100">
			<div class="card-body">
				<div class="account-settings">
					<div class="user-profile">
						<div class="user-avatar">
							<img src="https://i.pravatar.cc/300" alt="avatar-user">
                             <a class="updateUserImage" href="#" ><p>Changer votre avatar</p></a>
						</div>
						<h4 class="user-name"><b>{{user.nom}}</b></h4>
					</div>
					<div class="about">
						<h6 class="mb-2 text-primary">
                            Vous avez {{ nbPlaylists.somme }} playlist(s).
                        </h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body">
				<div class="row gutters">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h6 class="mb-4 text-primary">Vos informations</h6>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="nom"><b>Votre nom</b> : {{user.nom}}</label>
						</div>
					</div>
				</div>
				<div class="row gutters">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="form-group">
							<label for="eMail"><b>Votre e-mail</b> : {{user.email}}</label>
						</div>
					</div>
				</div>
				<div class="row gutters">
				</div>
			</div>
		</div>
	</div>
    <div class="row h-25" id="bottom-body">
{# div réservée pour le mediaplayer - A NE PAS SUPPRIMER #}
{# <div class="col-12" id="B"> #}
</div>
</div>


{# ------------------------------------------------------------------------------------------------------------------------ #}
<div class="accueil">
    <h4> Vos playlists
        <a href="/myPlaylist/create" class="btn btn-info" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
    </h4>
</div>


        {% if playlistsTwig %}
           
           {# Si il y a des données dans le tableau playlistTwig
           la condition est remplie et une boucle traversant
           le tableau permet d'afficher les images des playlists
           dans la div carousel #}

            <div class="carousel">
                <div class="carousel-row">
            {% for playlist in playlistsTwig %}
                    <a class="carousel-tile" href="/myPlaylist/show/?id={{ playlist.id }}" style="background : url(/{{ playlist.image }}); background-size: cover;">
                    </a>
            {% endfor %}
                </div>
            </div>
            <div class="col-12" id="B">

      </div>
    </div>
        {% else %}
        <div class="accueil">
            <p style='color : white; text-align : center;'> Ajoutez votre première playlist ! </p>
        </div>
        {% endif %}
{% endblock %}




