{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}

{% if errors %}
    {% for error in errors %}
       <p class="text-danger text-center">{{ error }}</p>
    {% endfor %}
{% endif %}

<div class="card card-columns mx-auto" style="width: 25rem;">
    <div class="card-body">
        <form class="form-group" action='/myPlaylist/addmusic' method='post' enctype="multipart/form-data">
            <input type="hidden" name="playlist_id" value="{{ music.playlist_id }}" />
            
            <div class="col">
                <input class="form-control" type="text" id='nom' name="nom" value="{{ music.nom }}" placeholder="Nom musique" >
            </div>
            <div class="col">
                <input class="form-control" type="text" id='artiste' name="artiste" value="{{ music.artiste }}" placeholder="Artiste">
            </div>
            <div class="col">
                <input class="form-control" type="text" id='album' name="album" value="{{ music.album }}" placeholder="Album" >
            </div>
            <div class="col">
                <input class="form-control" type="text" id='genre' name="genre" value="{{ music.genre }}" placeholder="Genre" >
            </div>
            <div class="col">
                <input class="form-control" type="text" id='source' name="source" value="{{ music.source }}" placeholder="Lien Youtube" >
            </div>
            <div class="input-group col mt-4 mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Image</span>
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image-musique" name="image-musique" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="image-musique">Choisir votre image</label>
                </div>
            </div>


            <button name="envoyer" class="col btn btn-info mt-4 mb-2">Ajouter</button>
        </form>
    </div>
</div>
{% endblock %}