<div class="card bg-dark text-white">
    <a href="/myPlaylist/show/{{ playlist.id }}">
        <img src="/{{ playlist.image }}" class="card-img-top" style='height: 12rem'>
    </a>
    <div class="card-body px-3 py-2">
        <h5 class="card-title m-0 text-truncate font-weight-bold">{{ playlist.nom }}</h5>

        <p class="card-text m-0">
            <small class="text-muted">Par </small>
            <small class="text-white-60">{{ playlist.username }}</small>
        </p>

        {% if is_logged and hideVoteButton != true %}
            <div class="text-right">
                <a href="/explorer/likes?playlist_id={{ playlist.id }}" data-playlist-id="{{ playlist.id }}" data-vote="1" class="vote_btn vote_like text-decoration-none">
                    <i class="bi bi-hand-thumbs-up"></i>
                    <span class="vote-count">{{playlist.nombre_likes}}</span>
                </a>

                <a href="/explorer/dislikes?playlist_id={{ playlist.id }}" data-playlist-id="{{ playlist.id }}" data-vote="0" class="vote_btn vote_dislike text-decoration-none">
                    <i class="bi bi-hand-thumbs-down"></i>
                    <span class="vote-count">{{playlist.nombre_dislikes}}</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>
