{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}
    <div class="col-12">
        <h1> Explorer </h1>    

        {# Test boucle pour rendu thumbnails de playlist #}
         <div class="row">
            {% for playlist in playlistTableau %}
                <div class="card mt-4 mb-4 ml-3 mr-3" style="width: 18rem;">
                    <img src="/{{playlist.image}}" class="card-img">

                    <div class="text-center text-white">
                        {{playlist.nom}}
                    </div>

                    <div class="text-center text-white">
                        Créé par: {{utilisateurs.nom}}
                    </div>
                    
                    <div class="vote {#{{Vote::getClass(vote)}}#}">

                        <div class="vote_bar">
                            <div class="vote_progress" style="width:{{(playlist.nombre_likes + playlist.nombre_dislikes) == 0 ? 100 : (100 * (playlist.nombre_likes/(playlist.nombre_likes + playlist.nombre_dislikes)))}}%"></div>
                        </div>

                        <div class="vote {#{{Vote::getClass(vote)}}#}">

                            <form method="POST">
                                <button type="submit" class="vote_btn vote_like"><i class="bi bi-hand-thumbs-up"></i> {{playlist.nombre_likes}} </button>
                            </form>

                            <form method="POST">
                                <button type="submit" class="vote_btn vote_dislike"><i class="bi bi-hand-thumbs-down"></i> {{playlist.nombre_dislikes}} </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}